<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

   <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input type="email" class="form-control" id="title" placeholder=Add Title>
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
  <textarea class="form-control" id="comment" rows="3"></textarea>
</div>
    <button class="btn btn-dark" id="submitcomment" type="submit">Submit</button>

  </div>


  <div class="col-md-6 project-list" style="overflow: auto; height: 500px">
    <h3>Current Posts:</h3>

    {{#each blogs as |blog|}}
    <div class="apple">
  <div class="btns">
    <div class="circle">
      <a role="button" class="red box"data-id="{{blog.id}}"><span class="x" data-id="{{blog.id}}">x</span></a>
    </div>
    <div class="circle">
      <span class="yellow box"></span>
    </div>
    <div class="circle">
      <span class="green box"></span>
    </div>
  </div>
  <div class="card__content">

     <div class="row mb-2">
      <div class="col-md-8 my-3">
        <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
      <div class="text-light ">{{blog.comment}}</div>
      </div>
      <div class="col-md-4">
        <a role="button" class="btn btn-sm btn-primary project-list" href="/blogupdate/{{blog.id}}">Edit</a>
        <button class="btn btn-sm btn-danger project-list" id="presonaldltbtn"  data-id="{{blog.id}}">DELETE</button>
      </div>
    </div>

  </div>
</div>
    {{/each}}



<script src="/profile.js"></script>